dashboard.json
[{"id":"4b648ddc.62d23c","type":"subflow","name":"Delete Session","info":"Description:\n- Deletes session auth on the cluster.\n\nRequires:\n- To be used after Start Session node passes auth\n- msg.headers must already be set with session auth\n","category":"Isilon","in":[{"x":20,"y":20,"wires":[{"id":"9c5f298a.c6149"}]}],"out":[],"env":[],"status":{"x":700,"y":180,"wires":[{"id":"f5067b73.af018","port":0},{"id":"97ae27.50a729d8","port":0}]}},{"id":"9c5f298a.c6149","type":"http request","z":"4b648ddc.62d23c","name":"","method":"DELETE","ret":"txt","paytoqs":false,"url":"https://{{{cluster}}}:8080/session/1/session","tls":"1fde3079.75b698","proxy":"","authType":"basic","x":170,"y":20,"wires":[["50613780.87a4e8","46cb198d.f2e6e"]]},{"id":"50613780.87a4e8","type":"switch","z":"4b648ddc.62d23c","name":"Check statusCode","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"204","vt":"num"},{"t":"neq","v":"204","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":20,"wires":[[],["f6430548.2d436"]]},{"id":"7f08e64.95b5318","type":"debug","z":"4b648ddc.62d23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":20,"wires":[]},{"id":"f6430548.2d436","type":"change","z":"4b648ddc.62d23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":20,"wires":[["7f08e64.95b5318"]]},{"id":"46cb198d.f2e6e","type":"switch","z":"4b648ddc.62d23c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":180,"wires":[["f5067b73.af018"],["97ae27.50a729d8"]]},{"id":"97ae27.50a729d8","type":"change","z":"4b648ddc.62d23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[[]]},{"id":"f5067b73.af018","type":"change","z":"4b648ddc.62d23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[[]]},{"id":"22938c66.1972dc","type":"subflow","name":"Platform API GET","info":"This generic GET node does not have an endpoint configured.\n\nEstablish a sessions with \"Start Session\" and then pass the endpoint in on the payload to GET any endpoint.\n\nInputs:\n- headers set by \"Start Session\" node\n- - endpoint: pass in on msg.payload\n- \nOutputs:\n- payload will contain results\n- status code success = 200","category":"Isilon","in":[{"x":20,"y":20,"wires":[{"id":"80c6225d.ba9238"}]}],"out":[{"x":880,"y":160,"wires":[{"id":"9202efbb.89e628","port":0}]},{"x":640,"y":220,"wires":[{"id":"aa9dbba.4ea6148","port":1}]}],"env":[],"status":{"x":900,"y":40,"wires":[{"id":"c80dd7b9.4908b8","port":0},{"id":"a96e48c9.9913d8","port":0}]}},{"id":"80c6225d.ba9238","type":"http request","z":"22938c66.1972dc","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://{{{cluster}}}:8080/platform{{{endpoint}}}","tls":"1fde3079.75b698","proxy":"","authType":"basic","x":190,"y":20,"wires":[["aa9dbba.4ea6148"]]},{"id":"aa9dbba.4ea6148","type":"switch","z":"22938c66.1972dc","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":160,"wires":[["715d43.3374fabc","9202efbb.89e628"],["715d43.3374fabc"]]},{"id":"5fc60b68.18359c","type":"comment","z":"22938c66.1972dc","name":"Check HTTP StatusCode","info":"If the status code is between 200-299 then output 1 otherwise output 2","x":390,"y":220,"wires":[]},{"id":"715d43.3374fabc","type":"switch","z":"22938c66.1972dc","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":40,"wires":[["c80dd7b9.4908b8"],["a96e48c9.9913d8"]]},{"id":"a96e48c9.9913d8","type":"change","z":"22938c66.1972dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":60,"wires":[[]]},{"id":"c80dd7b9.4908b8","type":"change","z":"22938c66.1972dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":20,"wires":[[]]},{"id":"9202efbb.89e628","type":"change","z":"22938c66.1972dc","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"set","p":"headers","pt":"msg","to":"save.headers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[[]]},{"id":"20ef50fa.514c48","type":"subflow","name":"Statistics Current","info":"- keys - comma separated list of stat keys\n- must be more than one key\n\n\nSee: https://github.com/Isilon/isilon_stat_browser","category":"Isilon","in":[{"x":20,"y":20,"wires":[{"id":"921f7a6a.704ea8"}]}],"out":[{"x":560,"y":20,"wires":[{"id":"b69fdfbe.e48198","port":0}]}],"env":[],"status":{"x":560,"y":80,"wires":[{"id":"b69fdfbe.e48198","port":0}]}},{"id":"921f7a6a.704ea8","type":"change","z":"20ef50fa.514c48","name":"","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"/1/statistics/current","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":20,"wires":[["b69fdfbe.e48198"]]},{"id":"b69fdfbe.e48198","type":"subflow:22938c66.1972dc","z":"20ef50fa.514c48","name":"","env":[],"x":380,"y":60,"wires":[[],[]]},{"id":"7418cd9d.d12aa4","type":"subflow","name":"Start Session","info":"Requires:\n- msg.cluster\n- msg.username\n- msg.password\n\nThe requires should be set via the credentials node and not stored openly in the flow.\n\nProvides:\n- msg.headers set for session auth\n\nOutput Payload:\n- payload passed through from input\n\nNotes:\n- When dealing with multiple clusters in the same flow the headers can be saved off and reused as needed for each cluster.","category":"Isilon","in":[{"x":20,"y":20,"wires":[{"id":"e38f5fbe.8cefa"}]}],"out":[{"x":1760,"y":160,"wires":[{"id":"8c479d2c.7449","port":0}]},{"x":780,"y":260,"wires":[{"id":"25e83c5c.c171d4","port":1}]}],"env":[],"inputLabels":["payload"],"outputLabels":["payload","error"],"status":{"x":1240,"y":60,"wires":[{"id":"9b7c331d.138b1","port":0},{"id":"26ff3a55.ba2536","port":0}]}},{"id":"c0801d90.f7f11","type":"http request","z":"7418cd9d.d12aa4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://{{{cluster}}}:8080/session/1/session","tls":"1fde3079.75b698","proxy":"","authType":"basic","x":530,"y":40,"wires":[["25e83c5c.c171d4","8a9f0df5.345068"]]},{"id":"798206c7.034698","type":"function","z":"7418cd9d.d12aa4","name":"Set Headers","func":"msg.headers = { \n    \"referer\": \"https://\" + msg.cluster + \":8080\",\n    \"X-CSRF-TOKEN\": msg.responseCookies.isicsrf.value,\n    \"Cookie\" : \"isisessid=\" + msg.responseCookies.isisessid.value\n};\nmsg.save.headers = msg.headers;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["7b5fffd9.3c5d58"]]},{"id":"a9e437a1.8438f","type":"change","z":"7418cd9d.d12aa4","name":"Set Payload","rules":[{"t":"set","p":"payload.services","pt":"msg","to":"[\"platform\", \"namespace\"]","tot":"json"},{"t":"set","p":"payload.username","pt":"msg","to":"username","tot":"msg"},{"t":"set","p":"payload.password","pt":"msg","to":"password","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":40,"wires":[["c0801d90.f7f11"]]},{"id":"bf032325.261e68","type":"comment","z":"7418cd9d.d12aa4","name":"Why","info":"Since we have to chain this flow to other flows that turn payload into GET vars we need a clean payload.\n\nIf necessary we can move the timeout output into msg, but for now we will just drop.","x":1090,"y":200,"wires":[]},{"id":"7b5fffd9.3c5d58","type":"change","z":"7418cd9d.d12aa4","name":"Clean up Auth","rules":[{"t":"delete","p":"username","pt":"msg"},{"t":"delete","p":"password","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":160,"wires":[["8c479d2c.7449"]]},{"id":"25e83c5c.c171d4","type":"switch","z":"7418cd9d.d12aa4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":160,"wires":[["798206c7.034698"],[]]},{"id":"8a9f0df5.345068","type":"switch","z":"7418cd9d.d12aa4","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":60,"wires":[["9b7c331d.138b1"],["26ff3a55.ba2536"]]},{"id":"26ff3a55.ba2536","type":"change","z":"7418cd9d.d12aa4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[[]]},{"id":"9b7c331d.138b1","type":"change","z":"7418cd9d.d12aa4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":40,"wires":[[]]},{"id":"e38f5fbe.8cefa","type":"change","z":"7418cd9d.d12aa4","name":"Store Payload","rules":[{"t":"set","p":"save.payload","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":120,"wires":[["a9e437a1.8438f"]]},{"id":"8c479d2c.7449","type":"change","z":"7418cd9d.d12aa4","name":"ReStore Payload","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"save.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":160,"wires":[[]]},{"id":"1fde3079.75b698","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"bb973ee8.d2abb","type":"tab","label":"Isilon Dashboard","disabled":false,"info":""},{"id":"6af3740a.cbbb6c","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"In\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":560,"wires":[["5cf8fa7a.e97464"]]},{"id":"5cf8fa7a.e97464","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":580,"wires":[["83ad4baa.feb86"]]},{"id":"aeefb806.3256b8","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"out\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":600,"wires":[["5cf8fa7a.e97464"]]},{"id":"83ad4baa.feb86","type":"ui_chart","z":"bb973ee8.d2abb","name":"","group":"ccabfc49.158d1","order":1,"width":0,"height":0,"label":"Prod Cluster Throughput","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1930,"y":580,"wires":[[]]},{"id":"906a7e47.89a9d","type":"inject","z":"bb973ee8.d2abb","name":"","topic":"Start","payload":"{\"username\":\"root\",\"password\":\"a\",\"cluster\":\"10.111.158.161\"}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":98.33333587646484,"y":496.61113357543945,"wires":[["bcd191ea.79a1c"]]},{"id":"11683648.96fcba","type":"ui_chart","z":"bb973ee8.d2abb","name":"","group":"2dea3d06.ca17ca","order":3,"width":0,"height":0,"label":"Cluster Response Times","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":80,"wires":[[]]},{"id":"427b7bec.4f374c","type":"function","z":"bb973ee8.d2abb","name":"Pingable?","func":"if ( msg.payload > 0) { \n    msg.payload = true; \n} else {\nmsg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["4541c0d9.c7733"]]},{"id":"8e7ed4f9.c1d358","type":"function","z":"bb973ee8.d2abb","name":"Pingable?","func":"if ( msg.payload > 0) { \n    msg.payload = true; \n} else {\nmsg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["45d6b11f.166668"]]},{"id":"3bd835ac.24563a","type":"comment","z":"bb973ee8.d2abb","name":"Ping Tests","info":"","x":100,"y":40,"wires":[]},{"id":"ae95867.84a94f8","type":"comment","z":"bb973ee8.d2abb","name":"Cluster 1 Charts","info":"","x":120,"y":420,"wires":[]},{"id":"37f2cabe.6da07e","type":"catch","z":"bb973ee8.d2abb","name":"","scope":null,"uncaught":false,"x":380,"y":1320,"wires":[["1719c431.0d9724"]]},{"id":"1719c431.0d9724","type":"debug","z":"bb973ee8.d2abb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":1320,"wires":[]},{"id":"45d6b11f.166668","type":"ui_led","z":"bb973ee8.d2abb","group":"2dea3d06.ca17ca","order":1,"width":0,"height":0,"label":"Prod Cluster Reachable?","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Prod Cluster LED","x":740,"y":140,"wires":[]},{"id":"4541c0d9.c7733","type":"ui_led","z":"bb973ee8.d2abb","group":"2dea3d06.ca17ca","order":2,"width":0,"height":0,"label":"DR Cluster Reachable?","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"DR Cluster LED","x":730,"y":200,"wires":[]},{"id":"f2a6bc6a.129148","type":"ping","z":"bb973ee8.d2abb","name":"Ping Prod Cluster","host":"172.16.10.10","timer":"5","x":100,"y":80,"wires":[["11683648.96fcba","8e7ed4f9.c1d358"]]},{"id":"b7909ff2.b97ec","type":"ping","z":"bb973ee8.d2abb","name":"Ping DR Cluster","host":"172.16.10.15","timer":"5","x":100,"y":140,"wires":[["11683648.96fcba","427b7bec.4f374c"]]},{"id":"904bacc1.262008","type":"subflow:7418cd9d.d12aa4","z":"bb973ee8.d2abb","name":"","env":[],"x":490,"y":500,"wires":[["39b3f994.77f5fe","6cb01b7a.834fec"],[]]},{"id":"bcd191ea.79a1c","type":"credentials","z":"bb973ee8.d2abb","name":"Demo Cluster1 Credentials","props":[{"value":"cluster","type":"msg"},{"value":"username","type":"msg"},{"value":"password","type":"msg"}],"x":290,"y":500,"wires":[["904bacc1.262008"]]},{"id":"13143b92.5e474c","type":"subflow:20ef50fa.514c48","z":"bb973ee8.d2abb","name":"","env":[],"x":990,"y":500,"wires":[["6b3be749.538e68"]],"inputLabels":["key or keys (ex. {\"key\":\"cluster.cpu.idle.avg\"}"],"outputLabels":["response text"],"info":"Requires:\n- Start Session set msg.headers\n- payload with key or keys\n\nReturns:\n- js object with API response\n- \nNotes:\n- Payload can be split and switched to send data down different paths by key name."},{"id":"39b3f994.77f5fe","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload.keys","pt":"msg","to":"node.net.ext.bytes.in.rate,node.net.ext.bytes.out.rate,cluster.cpu.idle.avg,cluster.disk.xfers.in.rate,cluster.disk.xfers.out.rate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["13143b92.5e474c"]]},{"id":"6cb01b7a.834fec","type":"delay","z":"bb973ee8.d2abb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":580,"wires":[["e523e810.2553c8"]]},{"id":"e523e810.2553c8","type":"subflow:4b648ddc.62d23c","z":"bb973ee8.d2abb","name":"","env":[],"x":500,"y":580,"wires":[]},{"id":"4c369ba7.b03344","type":"split","z":"bb973ee8.d2abb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":580,"wires":[["512191d.14dca7"]]},{"id":"6b3be749.538e68","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.stats","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":500,"wires":[["4c369ba7.b03344"]]},{"id":"512191d.14dca7","type":"switch","z":"bb973ee8.d2abb","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"node.net.ext.bytes.in.rate","vt":"str"},{"t":"eq","v":"node.net.ext.bytes.out.rate","vt":"str"},{"t":"eq","v":"cluster.cpu.idle.avg","vt":"str"},{"t":"eq","v":"cluster.disk.xfers.in.rate","vt":"str"},{"t":"eq","v":"cluster.disk.xfers.out.rate","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":870,"y":580,"wires":[["6af3740a.cbbb6c"],["aeefb806.3256b8"],["7f35e3a.966ae9c"],["c81df630.c52ee"],["2a5e544d.743e44"]]},{"id":"47f2d95b.88966","type":"comment","z":"bb973ee8.d2abb","name":"Cluster 2 Charts","info":"","x":120,"y":1240,"wires":[]},{"id":"404151e6.534668","type":"ui_chart","z":"bb973ee8.d2abb","name":"","group":"68e0fbf3.f0ae0c","order":0,"width":0,"height":0,"label":"Prod Cluster CPU","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1910,"y":640,"wires":[[]]},{"id":"7f35e3a.966ae9c","type":"change","z":"bb973ee8.d2abb","name":"Transpose Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"(1000 - msg.payload.value) /10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":640,"wires":[["c4810aee.0848d","4e9b4cc9.ff37fc"]]},{"id":"c4810aee.0848d","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"% Utilized\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":640,"wires":[["404151e6.534668"]]},{"id":"9ad90a15.690678","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"% Used (1 Min Avg)\";\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":680,"wires":[["404151e6.534668"]]},{"id":"4e9b4cc9.ff37fc","type":"aggregator","z":"bb973ee8.d2abb","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1310,"y":700,"wires":[["9ad90a15.690678"]]},{"id":"19e47fd4.40741","type":"ui_gauge","z":"bb973ee8.d2abb","name":"","group":"af5883a4.98dfe8","order":1,"width":0,"height":0,"gtype":"gage","title":"Prod Cluster Ops (1 Min Avg)","label":"units","format":"{{msg.payload}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1940,"y":760,"wires":[]},{"id":"2a5e544d.743e44","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"Out\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[["12d88bb0.5bcf3c","d9e40795.24e7e8"]]},{"id":"12d88bb0.5bcf3c","type":"join","z":"bb973ee8.d2abb","name":"","mode":"custom","build":"object","property":"payload.value","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1470,"y":780,"wires":[["3b9bd563.c01202"]]},{"id":"3b9bd563.c01202","type":"function","z":"bb973ee8.d2abb","name":"Add In + Out","func":"msg.payload = msg.payload.value.In + msg.payload.value.Out;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":840,"wires":[["f2bfd4da.d0e57"]]},{"id":"e0f52bb8.a14058","type":"calculator","z":"bb973ee8.d2abb","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"floor","constant":"0","x":1690,"y":840,"wires":[["19e47fd4.40741"]]},{"id":"f2bfd4da.d0e57","type":"aggregator","z":"bb973ee8.d2abb","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1650,"y":780,"wires":[["e0f52bb8.a14058"]]},{"id":"c81df630.c52ee","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"In\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":740,"wires":[["d9e40795.24e7e8","12d88bb0.5bcf3c"]]},{"id":"d9e40795.24e7e8","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":740,"wires":[["1f4b46e5.388d19"]]},{"id":"1f4b46e5.388d19","type":"ui_chart","z":"bb973ee8.d2abb","name":"","group":"5f008ec4.1cea58","order":1,"width":0,"height":0,"label":"Prod Cluster Disk IOPS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#0080c0","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1920,"y":700,"wires":[[]]},{"id":"cd7235bc.211e38","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"In\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1040,"wires":[["df79b5e9.b69d88"]]},{"id":"df79b5e9.b69d88","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1060,"wires":[["c8571d1d.a8de98"]]},{"id":"76433184.52fee","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"out\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1080,"wires":[["df79b5e9.b69d88"]]},{"id":"c8571d1d.a8de98","type":"ui_chart","z":"bb973ee8.d2abb","name":"","group":"ccabfc49.158d1","order":1,"width":0,"height":0,"label":"DR Cluster Throughput","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1920,"y":1060,"wires":[[]]},{"id":"133ce180.5c359f","type":"inject","z":"bb973ee8.d2abb","name":"","topic":"Start","payload":"{\"username\":\"root\",\"password\":\"a\",\"cluster\":\"10.111.158.161\"}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":98.33333587646484,"y":976.6111335754395,"wires":[["c38f97f9.7acd68"]]},{"id":"973696a3.4ae0b8","type":"subflow:7418cd9d.d12aa4","z":"bb973ee8.d2abb","name":"","x":490,"y":980,"wires":[["c0be946b.38041","b6c65fb6.83df"],[]]},{"id":"c38f97f9.7acd68","type":"credentials","z":"bb973ee8.d2abb","name":"Demo Cluster1 Credentials","props":[{"value":"cluster","type":"msg"},{"value":"username","type":"msg"},{"value":"password","type":"msg"}],"x":290,"y":980,"wires":[["973696a3.4ae0b8"]]},{"id":"81b38d16.2d5c08","type":"subflow:20ef50fa.514c48","z":"bb973ee8.d2abb","name":"","env":[],"x":990,"y":980,"wires":[["727895b4.4e3a34"]]},{"id":"c0be946b.38041","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload.keys","pt":"msg","to":"node.net.ext.bytes.in.rate,node.net.ext.bytes.out.rate,cluster.cpu.idle.avg,cluster.disk.xfers.in.rate,cluster.disk.xfers.out.rate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":980,"wires":[["81b38d16.2d5c08"]]},{"id":"b6c65fb6.83df","type":"delay","z":"bb973ee8.d2abb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":1060,"wires":[["519eae1f.47cde"]]},{"id":"519eae1f.47cde","type":"subflow:4b648ddc.62d23c","z":"bb973ee8.d2abb","name":"","x":500,"y":1060,"wires":[]},{"id":"b5888680.889138","type":"split","z":"bb973ee8.d2abb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1060,"wires":[["fc6fbde2.212d48"]]},{"id":"727895b4.4e3a34","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.stats","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":980,"wires":[["b5888680.889138"]]},{"id":"fc6fbde2.212d48","type":"switch","z":"bb973ee8.d2abb","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"node.net.ext.bytes.in.rate","vt":"str"},{"t":"eq","v":"node.net.ext.bytes.out.rate","vt":"str"},{"t":"eq","v":"cluster.cpu.idle.avg","vt":"str"},{"t":"eq","v":"cluster.disk.xfers.in.rate","vt":"str"},{"t":"eq","v":"cluster.disk.xfers.out.rate","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":870,"y":1060,"wires":[["cd7235bc.211e38"],["76433184.52fee"],["dc7691b1.2accd8"],["dd307e32.60f13"],["c5ce8b7f.77cf4"]]},{"id":"a676c9f4.769538","type":"ui_chart","z":"bb973ee8.d2abb","name":"","group":"68e0fbf3.f0ae0c","order":0,"width":0,"height":0,"label":"DR Cluster CPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1900,"y":1120,"wires":[[]]},{"id":"dc7691b1.2accd8","type":"change","z":"bb973ee8.d2abb","name":"Transpose Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"(1000 - msg.payload.value) /10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1120,"wires":[["33073582.84d0e2","bb217bd2.80dc6"]]},{"id":"33073582.84d0e2","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"% Utilized\";\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1120,"wires":[["a676c9f4.769538"]]},{"id":"aec4e019.611238","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"% Used (1 Min Avg)\";\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":1160,"wires":[["a676c9f4.769538"]]},{"id":"bb217bd2.80dc6","type":"aggregator","z":"bb973ee8.d2abb","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1310,"y":1180,"wires":[["aec4e019.611238"]]},{"id":"79f88fda.452c7","type":"ui_gauge","z":"bb973ee8.d2abb","name":"","group":"af5883a4.98dfe8","order":1,"width":0,"height":0,"gtype":"gage","title":"DR Cluster Ops (1 Min Avg)","label":"units","format":"{{msg.payload}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1940,"y":1240,"wires":[]},{"id":"c5ce8b7f.77cf4","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"Out\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1260,"wires":[["3691c6bb.531d32","25b63c4.f021044"]]},{"id":"3691c6bb.531d32","type":"join","z":"bb973ee8.d2abb","name":"","mode":"custom","build":"object","property":"payload.value","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1470,"y":1260,"wires":[["3212bd75.fe7852"]]},{"id":"3212bd75.fe7852","type":"function","z":"bb973ee8.d2abb","name":"Add In + Out","func":"msg.payload = msg.payload.value.In + msg.payload.value.Out;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1320,"wires":[["a4155c94.145518"]]},{"id":"1a6104e7.224cb3","type":"calculator","z":"bb973ee8.d2abb","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"floor","constant":"0","x":1690,"y":1320,"wires":[["79f88fda.452c7"]]},{"id":"a4155c94.145518","type":"aggregator","z":"bb973ee8.d2abb","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1650,"y":1260,"wires":[["1a6104e7.224cb3"]]},{"id":"dd307e32.60f13","type":"function","z":"bb973ee8.d2abb","name":"Set Topic for Chart","func":"msg.topic = \"In\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1220,"wires":[["25b63c4.f021044","3691c6bb.531d32"]]},{"id":"25b63c4.f021044","type":"change","z":"bb973ee8.d2abb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1220,"wires":[["ddbdbd9.66ddbc"]]},{"id":"ddbdbd9.66ddbc","type":"ui_chart","z":"bb973ee8.d2abb","name":"","group":"5f008ec4.1cea58","order":1,"width":0,"height":0,"label":"DR Cluster Disk IOPS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#0080c0","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1920,"y":1180,"wires":[[]]},{"id":"ccabfc49.158d1","type":"ui_group","z":"","name":"Network Performance","tab":"cecd7244.ed5e28","order":3,"disp":true,"width":"6","collapse":false},{"id":"2dea3d06.ca17ca","type":"ui_group","z":"","name":"Pings","tab":"cecd7244.ed5e28","order":1,"disp":true,"width":"6","collapse":false},{"id":"68e0fbf3.f0ae0c","type":"ui_group","z":"","name":"CPU Utilization","tab":"cecd7244.ed5e28","order":2,"disp":true,"width":"6","collapse":false},{"id":"af5883a4.98dfe8","type":"ui_group","z":"","name":"Disk Performance (Guages)","tab":"cecd7244.ed5e28","order":5,"disp":true,"width":"6","collapse":false},{"id":"5f008ec4.1cea58","type":"ui_group","z":"","name":"Disk Performance","tab":"cecd7244.ed5e28","order":4,"disp":true,"width":"6","collapse":false},{"id":"cecd7244.ed5e28","type":"ui_tab","z":"","name":"Performance","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
